<?xml version="1.0" encoding="utf-8"?>
<ApplicationConfig>
    <Server>192.168.100.201</Server>
    <Password></Password>
    <!-- Windows では COM5 
    Linux では、 /dev/ttyUSB0 -->
    <serialPort>COM5</serialPort>
    <!-- linux では、　
    <connectionStr>DRIVER=FreeTDS;SERVER=madoka.local;PORT=1433;UID=sw;DATABASE=sw;PWD=;TDS_Version=7.4;</connectionStr>
    -->
    <connectionStr>DRIVER={ODBC Driver 18 for SQL Server};
        SERVER=localhost\SQLEXPRESS;UID=sw;DATABASE=sw;
        PWD=StrongPassword123!;TrustServerCertificate=yes;</connectionStr>
    <!-- serverにtimeを書き込むときはyes/on/trueにする -->
    <write_server>yes</write_server>
</ApplicationConfig>
