<?xml version="1.0" encoding="utf-8"?>
<!--
   serialPort  :   None  = シリアルポート使用せず(debug用)
                   シリアルポートを使用するときはその時のPort 番号
　　　　　　　　　例)  COM5  など　(windows の場合)
                       /dev/ttyUSB0 (linux の場合)
   write_server  :  Yes = SQLServer にタイムの書き込みを行う
　　　　　　　　　　No = タイムの書き込みは行わない
   connectionStr : SQL server へのconnection string
      remote host の場合は sqlserver connection にする。つまりwindows だと、
　　　　DRIVER={ODBC Driver 18 for SQL Server};SERVER=server\SQLEXPRESS;UID=sw;
                DATABASE=sw;PWD=;TrustServerCertificate=yes;
 
      local host の場合は　windows 接続をするのが無難
　　　　DRIVER={ODBC Driver 18 for SQL Server};SERVER=localhost;
                DATABASE=sw;TrustServerCertificate=yes;Trusted_Connection=yes;
 
      Linux の場合は、Driver に FreeTDS をつかう。
　　　DRIVER=FreeTDS;SERVER=Olivia.local;PORT=1433;UID=sw;DATABASE=sw;PWD=StrongPassword123!;TDS_Version=7.4;

   fontSize :   web の font size


-->
<!-- localhost のSQLserver にwindows認証で接続し、serial Port は使用しない設定例-->
<ApplicationConfig>
    <serialPort>None</serialPort>
    <write_server>No</write_server>
    <connectionStr>DRIVER={ODBC Driver 18 for SQL Server};SERVER=localhost;
                DATABASE=sw;Trusted_Connection=yes;TrustServerCertificate=yes;</connectionStr>
    <fontSize>25px</fontSize>
</ApplicationConfig>

<!-- remote のSQLserver にsql server 認証で接続し、serial Port はCOM5を使用する設定例
草津のserverに接続する場合はこうなる。
madoka に接続する場合は server\SQLEXPRESS を madoka.local\SQLEXPRESSにする。 

<ApplicationConfig>
    <serialPort>None</serialPort>
    <write_server>No</write_server>
    <connectionStr>
　　　　DRIVER={ODBC Driver 18 for SQL Server};SERVER=server\SQLEXPRESS;UID=sw;
                DATABASE=sw;PWD=;TrustServerCertificate=yes;
    </connectionStr>
    <fontSize>25px</fontSize>
</ApplicationConfig>

-->

